.login-container {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-form {
        flex-direction: column;
        display: flex;
        &-submit-btn {
            background: #17479E;
            color: white;
        }
    }
}