<div class="login-container">
    <form class="login-container-form" [formGroup]="form" (ngSubmit)="logUser(form.value)">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-container-form-submit-btn" [disabled]="!form.valid" type="submit">Login</button>
        <div *ngIf="loginError$ | async">
            Email or password is incorrect
        </div>
        <div *ngIf="!(invalidSubmitForm$ | async)">
            Fields are invalid
        </div>
    </form>
</div>